/*** set up styles ***/
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/*** end of setup styles ***/



/*** global styles ***/
html {
    font-size: 62.5%;
}

body {
    min-width: 320px;
    font-family: 'Roboto, Georgia, Serif';
    line-height: 29px;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    clear: both;
}

img {
    width: 100%;
    display: block;
}
/*** end of global styles ***/



/*** resetting styles ***/
a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
/*** end of reset styles ***/



/*** font styles ***/
h1, 
h2,
h3,
h4 {
    font-family: 'Fredericka the Great';
    text-transform: uppercase;
    color: #FCFCFC;
    margin: 0;
    font-weight: 400;
}

h2 {
    font-size: 5.1rem;
}

h3 {
    font-size: 4.9rem;
    text-align: center;
    color: #152D20;
}

h4 {
    font-size: 3.5rem;
    color: #152D20;
}

.extraLinks {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #FCFCFC;
}

    /* was told the sans serif font was roboto, added this in to the fonts and used light to try to match the provided PDF as much as */
p {
    font-size: 2.2rem;
    font-weight: 300;
    font-family: 'roboto';
}

button {
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #152D20;
    color: white;
    text-transform: uppercase;
    padding: 15px 25px;
    box-shadow: none;
    font-family: 'Cormorant Garamond', Georgia, Serif;
}

/*** end of font styles ***/



/*** header styles ***/
header {
    background-image: url(./animal-land-assets/image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #FCFCFC;
    text-transform: uppercase;
    position: relative;
}

.mobileHeaderNav {
    display: none;
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 2rem;

}

.headerNav li {
    float: left;
    margin: 20px 10px;
}

.headerNav a {
    font-size: 2.2em;
    padding: 5px 7px;
}

.headerNav a:hover {
    background: white;
    color: #152D20;
}

header h1{
    font-size: 12rem;
    line-height: 117px;
    text-align: right;
    max-width: 40vw;
    float: right;
    position: absolute;
    top: 18%;
    right: 10%;
}

.socialMedia {
    position: absolute;
    bottom: 40px;
    right: 10px;
}

.socialMedia li{
    clear: both;
    font-size: 3rem;
    padding: 10px;
    margin-right: 30px;
}
/*** end of header styles ***/



/*** story section styles ***/

    /* setting up green background for multiple sections */
.green {
    background: #152D20;
    color: white;
}

.story {
    padding: 60px 0px;
}

.story img {
    width: 25%;
    height: 25%;
    float: left;
    margin: 0px 30px 0px 0px; 
    background: yellow;
}

.storyInfo {
    width: 70%;
    float: left;
}

.readMoreWhite {
    background: white;
    color: #152D20;
}

button:hover,
input[type=submit]:hover {
    text-decoration: underline;
}

/*** end of story section ***/



/*** friends section ***/
.friends {
    background: #C3D3CB;
    clear: both;
    padding-bottom: 50px;
}

h3 {
    padding: 60px 0px;
    max-width: 50%;
    line-height: 60px;
    margin: 0 auto;
}

.friendImages li {
    width: calc(100% / 3 - 50px / 3);
    float: left;
    margin-right: 25px
}


.friendImages li:nth-of-type(3) {
    margin-right: 0;
}



/*** extra links section ***/
.extraLinks {
    line-height: 40px; 
}

.siteLinks li {
    float: left;
    text-align: center;
    padding: 80px 0px 60px 0px;
    width: calc(100%/3);
}

.siteLinks a {
    position: relative;
    max-width: 50%;
}

i {
    position: absolute;
    top: -50px;
    left: 40%;
}

.siteLinks li a span {
    display: block;
}

.extraLinks .linkLower {
    margin-top: 20px;
}
/*** end of extra links section ***/



/*** blogPosts section style ***/
.blogPostImage img {
    width: calc(50vw);
}

.blogPostContent {
    width: calc(50vw - 10px);
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}
/*** end of blogPosts section style ***/


/*** footer styles ***/
.footerContent {
    padding: 50px 0px;
}

.footerNav a, 
h5 {
    font-size: 2.2em;
    text-transform: uppercase;
    margin: 0px;
}

h5 {
    margin-bottom: 10px;
}

footer p {
    margin: 0;
}

.footerNav,
.subscribe,
.contact {
    float: left;
}

.footerNav {
    width: 25%;
}

.subscribe {
    width: 40%;
    text-align: center;
}

.contact {
    text-align: right;
    width: 35%;
}

input[type=email],
input[type=submit] {
    padding: 5px 20px;
    font-size: 2rem;
    margin-top: 10px;
}

input[type=submit] {
    background: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', Georgia, Serif;
    border: 2px solid black;
    margin-left: 0px;
}

input[type=email] {
    padding-right: 200px;
}

.socialMediaFooter {
    display: none;
}

.copyright {
    background: black;
    margin-bottom: 0px;
    text-align: center;
    padding: 20px;
}

.copyright p {
    font-size: 2rem;
}

/*** end of footer styles ***/



/*** responsive styles ***/

/*** BP 1 ***/
@media (max-width: 1200px) {

    /* BP1 header styles */
    header {
        background-position: center;
    }

    header h1 {
        font-size: 9rem;
        top: 10%;
        right: 10%;
    }

    header .socialMedia li{
        font-size: 4rem;
    }
    

    /* BP1 story section styles */
    h2 {
        font-size: 4.5rem;
    }

    p {
        font-size: 2rem;
        width: 100%;
    }

    .story img {
        width: 25vw;
        margin-right: 20px;
        margin-left: 20px;
    }
    

    .story .wrapper {
        width: 98%;
    }


    /* BP1 friends section styles */
    h3 {
        padding: 30px;
    }


    /* BP1 extra links section styles */
    .siteLinks li {
        padding: 80px 0px 40px 0px;
    }


    /* BP1 blog posts section styles */
    .blogPostContent {
        width: calc(50vw - 10px);
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
    }

    /* BP1 footer section styles */
    input[type=email],
    input[type=submit] {
        padding: 5px 15px;
        font-size: 2rem;
    }


/*** BP 2 ***/
@media (max-width: 990px) {

    /* BP2 header section styles */
    header {
        background-size: cover;
        background-position-x: -200px;
    }

    .mobileHeaderNav    {
        display: inline-block;
        right: 20px;
    }

    .headerNav ul {
        display: none;
    }

    header h1 {
        font-size: 4rem;
        width: 200px;
        left: 10px;
        top: 5%;
        line-height: 35px;
    }

    /* BP2 story section styles */
    .story {
        padding: 30px 0px;

    }

    .story img {
        width: 300px;
        margin: 0 auto;
        float: none;
    }

    .storyInfo {
        margin-top: 30px;
        padding: 0 25px;
        width: 100%;
    }

    .readMoreWhite {
        margin: 0 auto;
        display: block;
    }

    /* BP2 friends section */
    h3 {
        max-width: 80%;
        line-height: 50px;
        margin: 0 auto;
    }

    .friendImages li:nth-of-type(3) {
        display: none;
    }

    .friendImages li {
        width: calc(100% / 2 - 20px / 2);
        margin-right: 10px;
        margin-bottom: 20px;
    }
    /* BP2 blog section */
    .blogPostContent {
        padding: 1%;
    }

    h4 {
        font-size: 3rem;
    }

    .blogPostContent p,
    .blogPostContent button {
        font-size: 1.7rem;
        line-height: 23px;
    }

    .blogPostContent p {
        margin: 10px 0px;
    }

    .blogPostContent button {
        padding: 10px;
    }

    /* BP2 footer section styles */
    .footerNav,
    .subscribe,
    .contact {
        float: none;
        padding: 30px 10px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
}

/*** BP 3 ***/

@media (max-width: 768px) {
    /* BP3 friends styles */
    h3 {
        font-size: 3.5rem;
    }

    /* BP3 extra links styles */

    .siteLinks {
        padding-top: 50px;
    }
    
    .extraLinks li {
        width: 100%;
        display: block;
        float: none;
        padding: 30px 0px;
        margin: 0 auto;
        text-align: center;
        font-size: 3rem;
    }

    /* BP3 blog post styles */

    .floatLeft,
    .floatRight {
        float: none;
        width: 100%;
        display: block;     
    }
    
    .blogPostImage img {
        width: 100vw;
    }

    h4{
        line-height: 35px;
    }

    .blogPostContent {
        text-align: center;
        padding: 30px 20px;
        line-height: 29px;
    }

    .blogPostContent p {
        margin: 30px 0px;
    }
    
}

/*** BP 4 ***/
@media (max-width: 480px) {
    /* BP4 header styles */
    header {
    background-position-x: -300px;
    }

    .socialMedia {
        display: none;
    }

    /* was told in previous experience to never remove important content during responsive. Added the removed social media icons to below contact in the footer. */
    .socialMediaFooter {
        display: block;
    }
    
    .socialMediaFooter a {
        font-size: 3rem;
        width: calc(100% / 4);
        float: left;
        text-align: center;
        padding-top: 20px;
    }

    /* BP4 story styles */
    h2 {
        font-size: 3.5rem;
    }

    /* checked accessibility went with suggested 16 as smallest size */
    .story p {
        font-size: 1.6rem;
    }

    /* BP4 friends styles */
    .friends {
        padding: 0px;
    }

    h3 {
        font-size: 3rem;
        width: 100%;
        padding: 10px 0px;
    }

    /* BP4 blog sections styles */
    h4 {
        font-size: 2.4rem;
    }

    /* BP4 footer sections styles */
    input[type=email],
    input[type=submit] {
        width: 300px;
        font-size: 1.4rem;
        text-align: center;
    }

    footer p {
        font-size: 1.8rem;
    }
}

/*** end of responsive styles ***/